<launch>
  <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
      <env name="ROS_NAMESPACE" value="stereo"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 -1.57 0 -1.57 front_left_camera_link front_left_camera_link_optical 100" />
  
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
      <param name="resolution" value="0.5" />
      
      <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
      <param name="frame_id" type="string" value="odom" />
      
      <!-- maximum range to integrate (speedup!) -->
      <param name="sensor_model/max_range" value="500.0" />

      <!-- values below 0.5 on the pointcloud are disregarded -->
      <param name="pointcloud_min_z" value="-0.5" /> 

      <!-- values above 1.0 on the pointcloud are disregarded -->
      <param name="pointcloud_max_z" value="100.0" />     

      <!-- data source to integrate (PointCloud2) -->
      <remap from="cloud_in" to="/lidar_wamv/points" />
      
  </node>
  <node type="rviz" name="rviz" pkg="rviz" args="/home/rfal/wamv/main/SRI-2019/config_file1.rviz" />  
</launch>
